<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit Users</title>
  </head>

  <body>
    <div class="table-data">
      <h2>Users in the system</h2>
      <table border="1">
        <tr>
          <th>S.N</th>
          <th>Full Name</th>
          <th>Email Address</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>

        <% if(userData.length!=0){ var i=1; userData.forEach(function(data){ %>
        <% i++; }) %> <% } else{ %>
        <tr>
          <td colspan="7">No Data Found</td>
        </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>

<html lang="en">
  <head>
    <title>Edit Users</title>
  </head>

  <body>
    <div class="table-data">
      <h2>Waiting users</h2>
      <table border="1">
        <tr>
          <th>S.N</th>
          <th>Full Name</th>
          <th>Email Address</th>
        </tr>

        <% if(tempUserData.length!=0){ var i=1;
        tempUserData.forEach(function(data){ %>
        <tr>
          <td><%=i; %></td>
          <td><%=data.name %></td>
          <td><%=data.email %></td>
          <td><a href="/users/edit/<%=data.email%>">Accept</a></td>
        </tr>
        <% i++; }) %> <% } else{ %>
        <tr>
          <td colspan="7">No Data Found</td>
        </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>

<h2>Pamainos pridejimas</h2>
<%- include("./partials/header") %>
<form action="/" method="POST">
  <label>Date: </label>
  <input type="Date" placeholder="Date" name="date" /><br /><br />
  <a href="/manageUsers">Prideti pamaina</a>
  <a href="/users/logout">Atsijungti</a>
</form>
